* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Green top section */

.hero {
    background-color: #5F6F52;
    color: white;

    height: 65vh;
    min-height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 40px 20px;
}

.hero-content {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.school-name {
    margin: 0 0 25px;
    font-size: 17px;
    font-weight: 500;
}

h1 {
    margin: 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.1;
}

.subtitle {
    margin: 25px auto 0;
    max-width: 600px;
    font-size: 19px;
    line-height: 1.5;
}


/* White bottom section */

.content {
    height: 35vh;
    min-height: 250px;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
}


/* Button */

button {
    background-color: #5F6F52;
    color: white;

    border: none;
    border-radius: 6px;

    padding: 15px 32px;

    font-size: 17px;
    font-weight: 600;

    cursor: pointer;
}

button:hover {
    background-color: #4F5F44;
}

.hero {
    background-color: #5F6F52;
    color: white;

    height: 65vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    text-align: center;
    padding: 100px 20px 40px;
}
